.navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 15px;

}



.nav_elements {
    display: flex;
}

.navbar_element {
    text-decoration: none;
    margin-right: 38px;
    font-size: 17px;
    font-weight: bold;
    color: lightgray;
}

.active_navbar_element {
    color: #ff5890;
}

/* .line {
    display: grid;
    place-items: center;
} */

